* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Helvetica;
    background-color: rgb(137, 137, 137);
  }

.info {
    color: red;
  }

#container {
    display: grid;
    grid-template-rows: 4;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#CON {
    margin-top: 50px;
    box-shadow: 2px 2px 2px 5px grey;
}

.over {
    background-color: red;
}

.RB {
    border-style: none;
    background-color: transparent;   
}

.Rbutton {
    border-style: none;
    background-color: transparent;
}

.Rbutton {
    border-style: none;
    background-color: transparent;
    animation-name: hover-con;
    animation-duration: 2s;
    animation-fill-mode: both;
  }

  @keyframes hover-con {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(180deg);
    }
}

#add {
    height: auto;
    border-style: none;
    width: 900px;
    background-color: white;
    padding-left: 5px;
    font-size: 16px;
}

#add:focus{
    outline: none!important;
    box-shadow: none!important;
    background-color: white;
}

#resetBTN {
    width: 20px;
    height: 20px;
}

#enterBTN {
    display: flex;
    justify-content: flex-end;
    border-style: none;
    background-color: transparent;
    cursor: pointer;
    width: 10%;
}

#enterIcon {
    width: 15px;
    height: 15px;
}

#list {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    width: 1000px;
}

.Task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    padding-left: 25px;
    width: 100%;
    height: 50px;
    background-color: white;
    cursor: pointer;
}

#Con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 1000px;
    height: 50px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: white;
}

#Con1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(85, 85, 85);
    width: 1000px;
    height: 50px;
}

#clearBTN {
    height: 100%;
    width: 100%;
    border-style: none;
    font-size: 16px;
    color: rgb(79, 79, 79);
    cursor: pointer;
}

#clearBTN:active {
    background-color: rgb(2, 248, 248);
    color: black;
}

.optionsIcon {
    width: 15px;
    height: 15px;
}

.optionsBTN {
    border-style: none;
    background-color: transparent;
}

.CBC {
    display: flex;
    align-items: center;
    width: auto;
}

.cBox {
    margin-right: 15px;
}

.CB {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    padding-right: 25px;
    border-style: none;
    background-color: white;
    cursor: pointer;
}

.tasks {
    border-style: none;
    background-color: transparent;
    height: 40px;
    width: 500px;
}

.tasks:focus {
    outline: none!important;
    box-shadow: none!important;
}

@media (max-width: 700px) {
    #list {
        width: 250px;
    }
    #Con {
        width: 250px;
    }
    #Con1 {
        width: 250px;
    }
    #add {
        width: 150px;
    }
    .tasks {
        width: 100px;
    }
}